@model BlogViewModel

<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8">
            <div class="container">
                <div class="row">
                    @foreach (var pagedPost in Model.PagedPosts)
                    {
                        <div class="post col-xl-6">
                            <div class="post-thumbnail"><a href="@pagedPost.Slug"><img src="https://placeimg.com/640/426/any" alt="..." class="img-fluid"></a></div>
                            <div class="post-details">
                                <div class="post-meta d-flex justify-content-between">
                                    <div class="date meta-last">@pagedPost.PublishedOn</div>
                                    <div class="category"><a href="#">Business</a></div>
                                </div><a href="@pagedPost.Slug">
                                    <h3 class="h4">@pagedPost.Title</h3>
                                </a>
                                <p class="text-muted">@pagedPost.Description</p>
                                <footer class="post-footer d-flex align-items-center">
                                    <a href="#" class="author d-flex align-items-center flex-wrap">
                                        <div class="avatar"><img src="https://placeimg.com/100/100/people" alt="..." class="img-fluid"></div>
                                        <div class="title"><span>@pagedPost.Author</span></div>
                                    </a>
                                    <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                                    <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                                </footer>
                            </div>
                        </div>
                    }
                </div>
                <!-- Pagination -->
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-template d-flex justify-content-center">
                        <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a href="#" class="page-link active">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </main>
        <aside class="col-lg-4">
            <!-- Widget [Search Bar Widget]-->
            <div class="widget search">
                <header>
                    <h3 class="h6">Search the blog</h3>
                </header>
                <form action="#" class="search-form">
                    <div class="form-group">
                        <input type="search" placeholder="What are you looking for?">
                        <button type="submit" class="submit"><i class="icon-search"></i></button>
                    </div>
                </form>
            </div>
            <!-- Widget [Latest Posts Widget]        -->
            <div class="widget latest-posts">
                <header>
                    <h3 class="h6">Latest Posts</h3>
                </header>
                <div class="blog-posts">
                    @foreach (var latestPost in Model.LatestPosts)
                    {
                        <a href="#">
                            <div class="item d-flex align-items-center">
                                <div class="image"><img src="https://placeimg.com/120/120/any" alt="..." class="img-fluid"></div>
                                <div class="title">
                                    <strong>@latestPost.Title</strong>
                                    <div class="d-flex align-items-center">
                                        <div class="views"><i class="icon-eye"></i> 500</div>
                                        <div class="comments"><i class="icon-comment"></i>12</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
            <!-- Widget [Categories Widget]-->
            <div class="widget categories">
                <header>
                    <h3 class="h6">Categories</h3>
                </header>
                @foreach (var category in Model.Categories)
                {
                    <div class="item d-flex justify-content-between"><a href="@category.Slug">@category.Name</a><span>12</span></div>
                }
            </div>
            <!-- Widget [Tags Cloud Widget]-->
            <div class="widget tags">
                <header>
                    <h3 class="h6">Tags</h3>
                </header>
                <ul class="list-inline">
                    @foreach (var tag in Model.Tags)
                    {
                        <li class="list-inline-item"><a href="@tag.Slug" class="tag">#@tag.Name</a></li>
                    }
                </ul>
            </div>
        </aside>
    </div>
</div>
