@model InstanceViewModel

<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8">
            <div class="container">
                <div class="row">
                    @foreach (var pagedPost in Model.PagedPosts)
                    {
                        <div class="post col-xl-6">
                            <div class="post-thumbnail"><a asp-controller="Blog" asp-action="Post" asp-route-slug="@pagedPost.Slug"><img src="https://placeimg.com/640/426/any" alt="..." class="img-fluid"></a></div>
                            <div class="post-details">
                                <div class="post-meta d-flex justify-content-between">
                                    <div class="date meta-last">@pagedPost.PublishedOn</div>
                                    @if (pagedPost.Categories.Count() > 0)
                                    {
                                        <div class="category"><a href="#">@pagedPost.Categories.FirstOrDefault().Name</a></div>
                                    }
                                </div><a asp-controller="Blog" asp-action="Post" asp-route-slug="@pagedPost.Slug">
                                    <h3 class="h4">@pagedPost.Title</h3>
                                </a>
                                <p class="text-muted">@pagedPost.Description</p>
                                <footer class="post-footer d-flex align-items-center">
                                    <a href="#" class="author d-flex align-items-center flex-wrap">
                                        <div class="avatar"><img src="https://placeimg.com/100/100/people" alt="..." class="img-fluid"></div>
                                        <div class="title"><span>@pagedPost.Author</span></div>
                                    </a>
                                    <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                                    <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                                </footer>
                            </div>
                        </div>
                    }
                </div>
                <!-- Pagination -->
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-template d-flex justify-content-center">
                        <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a href="#" class="page-link active">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </main>
        @await Html.PartialAsync("_Sidebar", Model)
    </div>
</div>
