@model InstanceViewModel
@{
    var selectedPost = Model.SelectedPost;
}

<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8">
            <div class="container">
                <div class="post-single">
                    <div class="post-thumbnail">
                        @{
                            string imagePath = !string.IsNullOrWhiteSpace(selectedPost.HeaderImage)
                                               ? imagePath = string.Format(Constants.ImagePath, "post", selectedPost.HeaderImage)
                                               : "https://placeimg.com/640/426/any";
                        }
                        <img src="@imagePath" alt="@selectedPost.Title" title="@selectedPost.Title" class="img-fluid">
                    </div>
                    <div class="post-details">
                        <div class="post-meta d-flex justify-content-between">
                            @if (selectedPost.Categories.Count() > 0)
                            {
                                <div class="category">
                                    @foreach (var category in selectedPost.Categories)
                                    {
                                        <a asp-controller="Blog" asp-action="Category" asp-route-slug="@category.Slug">@category.Name</a>
                                    }
                                </div>
                            }
                        </div>
                        <h1>@selectedPost.Title</h1>
                        <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                            <a href="#" class="author d-flex align-items-center flex-wrap">
                                <div class="avatar">
                                    <gravatar email-address="@selectedPost.Author.Email" image-size="40" additional-css-classes="img-avatar"></gravatar>
                                </div>
                                <div class="title"><span>@selectedPost.Author.FullName</span></div>
                            </a>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="date"><i class="icon-clock"></i> @selectedPost.PublishedOn.ToShortDateString()</div>
                                <div class="comments meta-last">
                                    <i class="icon-comment"></i>
                                    <span class="fb-comments-count" data-href="@Url.Link("blogRoute", new {Controller = "Blog", Action = "Post", Slug = selectedPost.Slug })"></span>
                                </div>
                            </div>
                        </div>
                        <div class="post-body">
                            <p class="lead">@selectedPost.Description</p>
                            @Html.Raw(selectedPost.DocumentContent)
                        </div>
                        @if (selectedPost.Tags.Count() > 0)
                        {
                            <div class="post-tags">
                                @foreach (var tag in selectedPost.Tags)
                                {
                                    <a asp-controller="Blog" asp-action="Tag" asp-route-slug="@tag.Slug">#@tag.Name</a>
                                }
                            </div>
                        }

                        @*
                            <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                                <a href="#" class="prev-post text-left d-flex align-items-center">
                                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                                    <div class="text">
                                        <strong class="text-primary">Previous Post </strong>
                                        <h6>I Bought a Wedding Dress.</h6>
                                    </div>
                                </a><a href="#" class="next-post text-right d-flex align-items-center justify-content-end">
                                    <div class="text">
                                        <strong class="text-primary">Next Post </strong>
                                        <h6>I Bought a Wedding Dress.</h6>
                                    </div>
                                    <div class="icon next"><i class="fa fa-angle-right">   </i></div>
                                </a>
                            </div>
                        *@

                        @if (Model.ApiDetails.HasFacebookDetails)
                        {
                            <div class="fb-comments"
                                 data-href="@Url.Link("blogRoute", new {Controller = "Blog", Action = "Post", Slug = selectedPost.Slug })"
                                 data-width="100%"
                                 data-numposts="5">
                            </div>
                        }

                    </div>
                </div>
            </div>
        </main>
        @await Html.PartialAsync("_Sidebar", Model)
    </div>
</div>
