@model InstanceViewModel

@{
    string imagePath = !string.IsNullOrWhiteSpace(Model.HeaderImage)
                       ? string.Format(CmsEngineConstants.ImagePath.Default, "page", Model.HeaderImage)
                       : "/img/no-image.png";
}

@section FacebookMeta {
    <meta property="og:url" content="@string.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path)" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.PageTitle" />
    <meta property="og:description" content="@Model.Tagline" />
    <meta property="og:image" content="@string.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, imagePath)" />
}

@section TwitterMeta {
    <meta name="twitter:card" content="summary_large_image">
}

<div class="container">
    <div class="row">
        <!-- Archive -->
        <main class="col-lg-8">
            <div class="container">
                <h1 class="mb-4">Archive</h1>
                <div class="container">
                    <div class="row">
                        @if (Model.Categories.Count() > 0)
                        {
                            foreach (var category in Model.CategoriesWithPosts)
                            {
                                <p class="h4"><a href="~/blog/category/@category.Slug">@category.Name</a></p>
                                <table class="table table-sm table-borderless">
                                    <tbody>
                                        @foreach (var post in category.Posts)
                                        {
                                            <tr>
                                                <td>@post.PublishedOn</td>
                                                <td>
                                                    <p>
                                                        <a href="~/blog/post/@post.Slug">@post.Title</a>
                                                        <br />
                                                        <small class="text-muted">@post.Description</small>
                                                    </p>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        }
                        else
                        {
                            <p class="h4">No articles available</p>
                        }
                    </div>
                </div>
            </div>
        </main>
        @await Html.PartialAsync("_Sidebar", Model)
    </div>
</div>
