@model HomeViewModel
@section Breadcrumb {
    <ol class="breadcrumb my-0">
        <li class="breadcrumb-item active">@ViewBag.PageTitle</li>
    </ol>
}

<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="card">
            <div class="card-header">
                <i class="cil-info"></i> Information
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>.NET version: </strong>@Environment.Version.ToString()
                    </li>
                    <li class="list-group-item">
                        <strong>Posts: </strong> @Model.PostCount
                    </li>
                    <li class="list-group-item">
                        <strong>Pages: </strong> @Model.PageCount
                    </li>
                    <li class="list-group-item">
                        <strong>Categories: </strong> @Model.CategoryCount
                    </li>
                    <li class="list-group-item">
                        <strong>Tags: </strong> @Model.TagCount
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
