@model InstanceViewModel
<!DOCTYPE html>
<html>
<head>
    @if (Model.HasGoogleAnalytics)
    {
        @Html.Raw(Model.Google?.GoogleAnalytics)
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Model.PageTitle</title>
    <meta name="description" content="@Model.Tagline">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    @RenderSection("FacebookMeta", required: false)
    @if (Model.HasFacebookDetails)
    {
        <meta property="fb:app_id" content="@Model.ApiDetails?.FacebookAppId" />
    }

    @RenderSection("TwitterMeta", required: false)
    @if (Model.HasTwitter)
    {
        <meta name="twitter:site" content="@@@Model.SocialMedia?.Twitter">
    }

    <link rel="alternate" type="application/rss+xml" title="Subscribe to Davidson Sousa" href="http://feedpress.me/DavidsonSousa" />
    <link href="~/css/vendors/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    @*<link href="~/css/vendors/jquery.fancybox.min.css" rel="stylesheet">*@

    <environment include="Development">
        <link href="~/css/site.css" rel="stylesheet" id="theme-stylesheet">
    </environment>

    <environment exclude="Development">
        <link href="~/css/site.min.css" rel="stylesheet" id="theme-stylesheet">
    </environment>

    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body class="line-numbers">
    <header class="header">
        <partial name="_CookieConsentPartial" />
        <!-- Main Navbar-->
        <nav class="navbar navbar-expand-lg">
            <div class="search-area">
                <div class="search-area-inner d-flex align-items-center justify-content-center">
                    <div class="close-btn"><i class="icon-close"></i></div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-8">
                            @await Html.PartialAsync("_SearchForm")
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <!-- Navbar Brand -->
                <div class="navbar-header d-flex align-items-center justify-content-between">
                    <!-- Navbar Brand -->
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">@Model.Name</a>
                    <!-- Toggle Button-->
                    <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
                </div>
                <!-- Navbar Menu -->
                <div id="navbarcollapse" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/about-me" class="nav-link @Html.IsSelected(slugs: "about-me")">About</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Blog" asp-action="Index" class="nav-link @Html.IsSelected(controllers: "Blog", actions: "Index, Post, Category, Tag")">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Archive" class="nav-link @Html.IsSelected(controllers: "Home", actions: "Archive")">Archive</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Contact" class="nav-link @Html.IsSelected(controllers: "Home", actions: "Contact")">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="/subscribe" class="nav-link @Html.IsSelected(slugs: "subscribe")">Subscribe</a>
                        </li>
                    </ul>
                    <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    @await Html.PartialAsync("_Footer")
    <script src="~/js/vendors/jquery.min.js"></script>
    @*<script src="~/js/vendors/popper.min.js"></script>*@
    <script src="~/js/vendors/bootstrap.min.js"></script>
    <script src="~/js/vendors/jquery.cookie.min.js"></script>
    @*<script src="~/js/vendors/jquery.fancybox.min.js"></script>*@

    @if (Model.HasDisqusDetails)
    {
        <script id="dsq-count-scr" src="//@(Model.ApiDetails?.DisqusShortName).disqus.com/count.js" async></script>
    }

    <environment include="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
