@if (TempData[MessageConstants.InfoMessage] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <small>@DateTime.Now</small><br />
        @TempData[MessageConstants.InfoMessage]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData[MessageConstants.SuccessMessage] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <small>@DateTime.Now</small><br />
        @TempData[MessageConstants.SuccessMessage]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData[MessageConstants.WarningMessage] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <small>@DateTime.Now</small><br />
        <strong>Warning:</strong> @TempData[MessageConstants.WarningMessage]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData[MessageConstants.DangerMessage] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <small>@DateTime.Now</small><br />
        <strong>Error:</strong> @TempData[MessageConstants.DangerMessage]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
