@model WebsiteEditModel

@section PageHead{
    <link href="~/css/vendors/jquery.fileupload.min.css" rel="stylesheet" />
    <script src="~/js/vendors/tinymce/tinymce.min.js"></script>
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/cms">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="~/cms/website">@ViewBag.PageTitle</a></li>
        <li class="breadcrumb-item active">@ViewBag.PageType</li>
    </ol>
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8">
        <div class="card">
            <div class="card-header">
                <strong>@ViewBag.PanelTitle</strong>
            </div>
            <form asp-area="Cms" asp-controller="Website" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div class="card-body">
                    @if (!Model.IsNew)
                    {
                        <input asp-for="Id" type="hidden" />
                    }

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Header image</span>
                                <input id="uploadHeadImage" type="file" name="files">
                            </span>

                            <button class="btn btn-outline-danger" id="removeHeadImage">Remove image</button>

                            <div class="header-preview">
                                @if (!string.IsNullOrWhiteSpace(Model.HeaderImage))
                                {
                                    <img src="@string.Format(Constants.Image320Path, "website", Model.HeaderImage)" alt="Image preview" title="Image preview" />
                                }
                            </div>
                            <input asp-for="HeaderImage" type="hidden" />

                            <div id="progress">
                                <div class="progress-bar" style="width: 0%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Name" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Tagline" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Tagline" class="form-control" />
                            <span asp-validation-for="Tagline" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Description" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span class="btn btn-success fileinput-button float-right">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Upload images</span>
                                <input id="uploadEditorImages" type="file" name="editorImage" multiple>
                            </span>
                            <span class="btn btn-success fileinput-button float-right">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Upload files</span>
                                <input id="uploadEditorFiles" type="file" name="editorFile" multiple>
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Culture" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Culture" class="form-control" />
                            <span asp-validation-for="Culture" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="UrlFormat" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="UrlFormat" class="form-control" />
                            <span asp-validation-for="UrlFormat" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="DateFormat" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="DateFormat" class="form-control" />
                            <span asp-validation-for="DateFormat" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="SiteUrl" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="SiteUrl" class="form-control" />
                            <span asp-validation-for="SiteUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ArticleLimit" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ArticleLimit" class="form-control" />
                            <span asp-validation-for="ArticleLimit" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Address" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Phone" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Email" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Facebook" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Facebook" class="form-control" />
                            <span asp-validation-for="Facebook" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Twitter" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Twitter" class="form-control" />
                            <span asp-validation-for="Twitter" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Instagram" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Instagram" class="form-control" />
                            <span asp-validation-for="Instagram" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="LinkedIn" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LinkedIn" class="form-control" />
                            <span asp-validation-for="LinkedIn" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="FacebookAppId" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="FacebookAppId" class="form-control" />
                            <span asp-validation-for="FacebookAppId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="FacebookApiVersion" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="FacebookApiVersion" class="form-control" />
                            <span asp-validation-for="FacebookApiVersion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="DisqusShortName" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="DisqusShortName" class="form-control" />
                            <span asp-validation-for="DisqusShortName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><i class="far fa-dot-circle"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/js/vendors/jquery.ui.widget.min.js"></script>
    <script src="~/js/vendors/jquery.fileupload.min.js"></script>
    <script>
        $(function () {
            CmsEngine.Configure.TinyMCE('textarea', 500);
            CmsEngine.FileUpload.UploadHeader('#uploadHeadImage', '@Url.Action("uploadfiles")', '.header-preview', '#HeaderImage');
            CmsEngine.FileUpload.UploadImagesToEditor('#uploadEditorImages', '@Url.Action("uploadfiles")');
            CmsEngine.FileUpload.UploadFilesToEditor('#uploadEditorFiles', '@Url.Action("uploadfiles")');
            CmsEngine.FileUpload.Remove('#removeHeadImage', '.header-preview', '#HeaderImage');
        });
    </script>
}
