@model InstanceViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Model.PageTitle</title>
    <meta name="description" content="@Model.Description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <link href="~/css/vendors/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="~/css/vendors/jquery.fancybox.min.css" rel="stylesheet">

    <environment include="Development">
        <link href="~/css/site.css" rel="stylesheet" id="theme-stylesheet">
    </environment>

    <environment exclude="Development">
        <link href="css/site.min.css" rel="stylesheet" id="theme-stylesheet">
    </environment>

    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/favicon.png">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
    @if (Model.ApiDetails.HasFacebookDetails)
    {
        <!-- Facebook Api -->
        <div id="fb-root"></div>
        <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&autoLogAppEvents=1&version=@Model.ApiDetails.FacebookApiVersion&appId=@Model.ApiDetails.FacebookAppId';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
    }
    <header class="header">
        <!-- Main Navbar-->
        <nav class="navbar navbar-expand-lg">
            <div class="search-area">
                <div class="search-area-inner d-flex align-items-center justify-content-center">
                    <div class="close-btn"><i class="icon-close"></i></div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-8">
                            @await Html.PartialAsync("_SearchForm")
                            @*<form action="#">
                                    <div class="form-group">
                                        <input type="search" name="search" id="search" placeholder="What are you looking for?">
                                        <button type="submit" class="submit"><i class="icon-search-1"></i></button>
                                    </div>
                                </form>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <!-- Navbar Brand -->
                <div class="navbar-header d-flex align-items-center justify-content-between">
                    <!-- Navbar Brand -->
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">@Model.Name</a>
                    <!-- Toggle Button-->
                    <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
                </div>
                <!-- Navbar Menu -->
                <div id="navbarcollapse" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Blog" asp-action="Index" class="nav-link">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Blog" asp-action="Archive" class="nav-link">Archive</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                        </li>
                    </ul>
                    <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
                </div>
            </div>
        </nav>
        <partial name="_CookieConsentPartial" />
    </header>

    @RenderBody()

    @await Html.PartialAsync("_Footer")
    <script src="~/js/vendors/jquery.min.js"></script>
    <script src="~/js/vendors/popper.min.js"></script>
    <script src="~/js/vendors/bootstrap.min.js"></script>
    <script src="~/js/vendors/jquery.cookie.min.js"></script>
    <script src="~/js/vendors/jquery.fancybox.min.js"></script>

    <environment include="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
