@model PostViewModel
<div class="post col-xl-6">
    <div class="post-thumbnail">
        <a asp-controller="Blog" asp-action="Post" asp-route-slug="@Model.Slug">
            @{
                string imagePath = !string.IsNullOrWhiteSpace(Model.HeaderImage)
                                   ? imagePath = string.Format(Main.ImagePath.Path640, "post", Model.HeaderImage)
                                   : "/img/no-image.png";
            }
            <img src="@imagePath" alt="@Model.Title" title="@Model.Title" class="img-fluid" />
        </a>
    </div>
    <div class="post-details">
        <div class="post-meta d-flex justify-content-between">
            <div class="date meta-last">@Model.PublishedOn</div>
            @if (Model.Categories.Count() > 0)
            {
                var category = Model.Categories.First();
                <div class="category">
                    <a asp-controller="Blog" asp-action="Category" asp-route-slug="@category.Slug">@category.Name</a>
                </div>
            }
        </div><a asp-controller="Blog" asp-action="Post" asp-route-slug="@Model.Slug">
            <h3 class="h4">@Model.Title</h3>
        </a>
        <p class="text-muted">@Model.Description</p>
        <footer class="post-footer d-flex align-items-center">
            <div class="date"><i class="icon-clock"></i> @Model.PublishedOn</div>
            <div class="comments meta-last">
                <i class="icon-comment"></i>
                <span class="disqus-comment-count" data-disqus-identifier="@Model.VanityId">0</span>
            </div>
        </footer>
    </div>
</div>
