@model PageEditModel

@section PageHead{
    <script src="~/js/vendors/tinymce/tinymce.min.js"></script>
    <link rel="stylesheet" href="~/js/vendors/pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/cms">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="~/cms/page">@ViewBag.PageTitle</a></li>
        <li class="breadcrumb-item active">@ViewBag.PageType</li>
    </ol>
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8">
        <div class="card">
            <div class="card-header">
                <strong>@ViewBag.PanelTitle</strong>
            </div>
            <form asp-area="Cms" asp-controller="Page" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div class="card-body">
                    @if (!Model.IsNew)
                    {
                        <input asp-for="Id" type="hidden" />
                    }

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Header image</span>
                                <input id="uploadHeadImage" type="file" name="files">
                            </span>

                            <button class="btn btn-outline-danger" id="removeHeadImage">Remove image</button>

                            <div class="header-preview">
                                @if (!string.IsNullOrWhiteSpace(Model.HeaderImage))
                                {
                                    <img src="@string.Format(Constants.Image320Path, "page", Model.HeaderImage)" alt="Image preview" title="Image preview" />
                                }
                            </div>
                            <input asp-for="HeaderImage" type="hidden" />

                            <div id="progress">
                                <div class="progress-bar" style="width: 0%;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Title" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Slug" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Slug" class="form-control" />
                            <span asp-validation-for="Slug" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Description" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <textarea asp-for="DocumentContent" class="form-control"></textarea>
                            <span class="btn btn-success fileinput-button float-right">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Upload images</span>
                                <input id="uploadEditorImages" type="file" name="editorImage" multiple>
                            </span>
                            <span class="btn btn-success fileinput-button float-right">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Upload files</span>
                                <input id="uploadEditorFiles" type="file" name="editorFile" multiple>
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Status" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <select asp-for="Status" asp-items="Html.GetEnumSelectList<DocumentStatus>()" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="PublishedOn" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            @Html.EditorFor(m => m.PublishedOn, new { htmlAttributes = new { @class = "form-control", containerId = "published-on" } })
                            <span asp-validation-for="PublishedOn" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/js/vendors/moment.min.js"></script>
    <script src="~/js/vendors/pc-bootstrap4-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <script src="~/js/vendors/jquery.ui.widget.min.js"></script>
    <script src="~/js/vendors/jquery.fileupload.min.js"></script>

    <script>
        $(function () {
            CmsEngine.Configure.DateTimePicker('#published-on');
            CmsEngine.Configure.TinyMCE('textarea', 600);
            CmsEngine.FileUpload.UploadHeader('#uploadHeadImage', '@Url.Action("uploadfiles")', '.header-preview', '#HeaderImage');
            CmsEngine.FileUpload.UploadImagesToEditor('#uploadEditorImages', '@Url.Action("uploadfiles")');
            CmsEngine.FileUpload.UploadFilesToEditor('#uploadEditorFiles', '@Url.Action("uploadfiles")');
            CmsEngine.FileUpload.Remove('#removeHeadImage', '.header-preview', '#HeaderImage');
        });
    </script>
}
